<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>FrauMüller</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
  </style>

</head>
<body>
<section>
    <div class="row mx-1">
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg');>
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Home FrauMüller</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Delicios</a></li>
                            <li><a href="#">Recipe</a></li>
                            <li><a href="#">Healthy eating</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>

                        <form class="navbar-form navbar-right" action="/index/search_all?key" >
                            <div class="form-group">
                                <input type="text" class="form-control" name="key" placeholder="Search" value= " " />
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </nav>



                <div class="container">
                    <h2>FrauMüller</h2>
                    <p>Looking for easy comfort food recipes?</p>
                    <p>    Then you have come to the right place!!!</p>
                    <br/>
                    <img src="image\herrmüller.jpg" width="317" height="218">
                    <br/>

                    <a href="hauptseite">Add Recipe</a>
                    <br/><br/>

                            <tr th:each ="recipe : ${recipe}">
                                <td th:utext="${recipe.title}">...</td>
                                <td th:utext="${recipe.catagory}">...</td>
                                <td th:utext="${recipe.level}">...</td>
                                <td th:utext="${recipe.author}">...</td>
                                <td th:utext="${recipe.method}">...</td>
                                <td th:utext="${recipe.ingredients}">...</td>
                            </tr>
                        </table>

                    <form th:action="@{/hauptseite}"
                          th:object="${recipe}" method="POST">
                        Recipe Name:
                        <input type="text" th:field="*{title}" />
                        <br/>

                        Category:
                        <input type="text" th:field="*{catagory}" />
                        <br/>

                        Level:
                        <input type="text" th:field="*{level}" />
                        <br/>

                        Recipe Autor:
                        <input type="text" th:field="*{catagory}" />
                        <br/>

                        Preparation:
                        <input type="text" th:field="*{method}" />
                        <br/>

                        IngredientsList:
                        <input type="text" th:field="*{ingredients}" />
                        <br/>

                        <input type="submit" value="Create" />
                    </form>
                </div>
</body>
</html>


